body {
	margin: 0;
	font: arial;
	font-size: 13px;
}

.topo {
	height: 30px;
	background-color: #333333;
}

.topo-interno {
	width: 100%;
	max-width: 1040px;
	height: 30px;
	margin: auto;
}

.topo-left {
	width: 50%;
	height: 30px;
	float: left;
}

.topo-left ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.topo-left li {
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 16px;
	color: white;
}

.topo-left li a {
	text-decoration: none;
	color: white;
}

.topo-left li a:hover {
	color: blue;
}

.topo-right {
	width: 50%;
	height: 30px;
	float: right;
	text-align: right;
	margin-top: 2px;
}

.topo-right a {
	float: right;
}

.topo-right input {
	float: right;
	margin-left: 4px;
}

.topo-right img {
	margin-left: 4px;
}

.topo-busca {
	width: 110px;
	height: 20px;
	outline: 0;
}

.topo2 {
	height: 95px;
	color: #000;
}

.topo2-interno {
	width: 100%;
	max-width: 1040px;
	height: 95px;
	margin: auto;
}

.logo {
	width: 230px;
	height: 95px;
	float: left;
	margin-top: 5px;
}

.topo2 .banner {
	width: 650px;
	height: 80px;
	float: right;
	margin-top: 7px;
	background-color: red;
}

.menu {
	height: 40px;
	background-color: red;
}

.menu .menu-interno {
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin: auto;
}

.menu ul {
	/* margin: 0; */
	padding: 0;
	list-style: none;
}

.menu li {
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.menu li:hover .submenu {
	display: block;
}

.menu a {
	color: white;
	text-decoration: none;
}

.submenu {
	width: 150px;
	height: 150px;
	background-color: red;
	position: absolute;
	display: none;
}

.submenuItem {
	width: 140px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.submenuItem:hover {
	background-color: #ff5555;
}

.ultimasNoticias {
	height: 40px;
}

.ultimasNoticias-interno {
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin: auto;
}

.ultimasNoticias-area {
	height: 28px;
	background-color: white;
	border: 1px solid #ccc;
	margin-top: 10px;
}

.ultimasNoticias-titulo {
	background-color: red;
	color: #fff;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}

.ultimasNoticias-noticia {
	color: #000;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 5px;
}

.container-interno {
	width: 100%;
	max-width: 1040px;
	margin: auto;
	background-color: #999;
}

.leftside {
	width: 753px;
	float: left;
}

.rightside {
	width: 275px;
	min-height: 200px;
	float: right;
	margin-left: 12px;
}

.widget {
	background-color: white;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.widget-titulo {
	height: 30px;
	line-height: 30px;
	background-color: #ddd;
	padding-left: 5px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}

.widget-conteudo {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.widget-conteudo a {
	text-decoration: none;
	list-style: none;
	padding: 3px;
}

.noticia-item {
	font-size: 14px;
	margin: 0px 10px;
	padding: 10px 0px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

.noticia-item a {
	text-decoration: none;
	color: #000;
}

.slideshow {
	height: 335px;
	background-color: #ccc;
	overflow: hidden; /* Serve para  não ter barra de rolagem, mesmo que o conteudo da div seja maior que a propria div, fazendo um corte no conteudo para ficar dentro dela*/
}

.slideshowarea {
	width: 10000000px;
	height: 335px;
	background-color: #ddd;
}

.slide {
	height: 335px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
