body {
	margin: 0;
	font: arial;
	font-size: 13px;
}

.topo {
	height: 30px;
	background-color: #333333;
}

.menunobile {
	display: none;
}

.topo-interno {
	width: 100%;
	max-width: 1040px;
	height: 30px;
	margin: auto;
}

.topo-left {
	width: 50%;
	height: 30px;
	float: left;
}

.topo-left ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.topo-left li {
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 16px;
	color: white;
}

.topo-left li a {
	text-decoration: none;
	color: white;
}

.topo-left li a:hover {
	color: blue;
}

.topo-right {
	width: 50%;
	height: 30px;
	float: right;
	text-align: right;
	margin-top: 2px;
}

.topo-right a {
	float: right;
}

.topo-right input {
	float: right;
	margin-left: 4px;
}

.topo-right img {
	margin-left: 4px;
}

.topo-busca {
	width: 110px;
	height: 20px;
	outline: 0;
}

.topo2 {
	height: 95px;
	color: #000;
}

.topo2-interno {
	width: 100%;
	max-width: 1040px;
	height: 95px;
	margin: auto;
}

.logo {
	width: 230px;
	height: 95px;
	float: left;
	margin-top: 5px;
}

.topo2 .banner {
	width: 650px;
	height: 80px;
	float: right;
	margin-top: 7px;
	background-color: red;
}

.menu {
	height: 40px;
	background-color: red;
}

.menu .menu-interno {
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin: auto;
}

.menu ul {
	/* margin: 0; */
	padding: 0;
	list-style: none;
}

.menu li {
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.menu li:hover .submenu {
	display: block;
}

.menu a {
	color: white;
	text-decoration: none;
}

.submenu {
	width: 150px;
	height: 150px;
	background-color: red;
	position: absolute;
	display: none;
}

.submenuItem {
	width: 140px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.submenuItem:hover {
	background-color: #ff5555;
}

.ultimasNoticias {
	height: 40px;
}

.ultimasNoticias-interno {
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin: auto;
}

.ultimasNoticias-area {
	height: 28px;
	background-color: white;
	border: 1px solid #ccc;
	margin-top: 10px;
}

.ultimasNoticias-titulo {
	background-color: red;
	color: #fff;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}

.ultimasNoticias-noticia {
	color: #000;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 5px;
}

.container-interno {
	width: 100%;
	max-width: 1040px;
	margin: auto;
	background-color: #999;
}

.leftside {
	width: 753px;
	float: left;
}

.rightside {
	width: 275px;
	min-height: 200px;
	float: right;
	margin-left: 12px;
}

.widget {
	background-color: white;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.widget-titulo {
	height: 30px;
	line-height: 30px;
	background-color: #ddd;
	padding-left: 5px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}

.widget-conteudo {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.widget-conteudo a {
	text-decoration: none;
	list-style: none;
	padding: 3px;
}

.noticia-item {
	font-size: 14px;
	margin: 0px 10px;
	padding: 10px 0px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

.noticia-item a {
	text-decoration: none;
	color: #000;
}

.slideshow {
	height: 335px;
	background-color: #ccc;
	overflow: hidden; /* Serve para  não ter barra de rolagem, mesmo que o conteudo da div seja maior que a propria div, fazendo um corte no conteudo para ficar dentro dela*/
}

.slideshowarea {
	width: 10000000px;
	height: 335px;
	background-color: #ddd;
}

.slide {
	height: 335px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slideinfo {
	height: 70px;
	background-image: url('../images/slideshow_bg.png');
	background-size: auto 70px;
	margin-top: 265px;
}

.slideinfo_titulo {
	font-size: 20px;
	color: #fff;
	padding-top: 15px;
	padding-left: 20px;
}

.slideinfo_subtitulo {
	font-size: 14px;
	color: #fff;
	padding-top: 2px;
	padding-left: 20px;
}

.slidebolinhas {
	position: absolute;
	width: 200px;
	height: 20px;
}

.bolinha {
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 5px;
	cursor: pointer;
	background-color: #dcdcdc;
	border-radius: 10px;
	margin-top: 5px;
}

.content {
	background-color: white;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	margin-top: 15px;
	height: 100%;
}

.noticiaarea1 {
	width: 420px;
	height: 420px;
	float: left;
	height: 100%;
}

.noticiaarea2 {
	width: 321px;
	height: auto;
	float: left;
	margin-top: 15px;
}

.noticiaitem {
	text-align: left;
	height: 88px;
	margin-top: 7px;
	margin-bottom: 7px;
	color: black;
}

.noticiaimg {
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
	padding: 3px;
	float: left;
}

.noticiatitulo {
	float: left;
	margin-left: 6px;
	font-size: 16px;
	width: 226px;
	word-wrap: break-word;
	margin-top: 2px;
}

.noticiainfo {
	width: 226px;
	font-size: 12px;
	margin-left: 6px;
	color: #999;
	float: left;
	word-wrap: break-word;
	margin-top: 2px;
}

.noticiabig {
	margin-left: 10px;
}

.noticiaitem .noticiabig {
	width: 384px;
	height: 222px;
}

.noticiabig .noticiaimgbig img {
	width: 384px;
	height: 222px;
}

.noticiabig .noticiatitulo {
	font-size: 30px;
	width: 384px;
}

.noticiabig .noticiainfo {
	margin-top: 2px;
}

@media only screen and (min-width: 906px) and (max-width: 1057px) {
	.topo-interno,
	.topo2-interno,
	.menu-interno,
	.ultimasNoticias-interno,
	.container-interno {
		width: 890px;
	}

	#menu {
		display: block !important;
	}

	.leftside {
		width: 600px;
	}

	.noticiaarea1 {
		width: 275px;
	}

	.noticiabig .noticiaimgbig {
		width: 243px;
	}

	.noticiabig .noticiaimgbig img {
		width: 230px;
	}

	.noticiabig .noticiatitulo {
		width: 245px;
		font-size: 25px;
	}
}

@media only screen and (min-width: 783px) and (max-width: 906px) {
	.topo-interno,
	.topo2-interno,
	.menu-interno,
	.ultimasNoticias-interno,
	.container-interno {
		width: 768px;
	}

	.topo2 .banner {
		display: none;
	}

	#menu {
		display: block !important;
	}

	.logo {
		float: none;
		margin: auto;
	}

	.rightside {
		display: none;
	}

	.leftside {
		width: 100%;
	}

	.noticiaarea1 {
		width: 446px;
	}

	.noticiabig .noticiaimgbig {
		width: 415px;
	}

	.noticiabig .noticiaimgbig img {
		width: 415px;
	}

	.noticiabig .noticiatitulo {
		width: 415px;
		font-size: 25px;
	}

	.noticiaarea2 {
		width: 310px;
	}
	.noticiainfo {
		width: 206px;
		float: none;
	}

	.noticiatitulo {
		width: 206px;
		float: none;
	}
}

@media only screen and (max-width: 783px) {
	.topo-interno,
	.topo2-interno,
	.menu-interno,
	.ultimasNoticias-interno,
	.container-interno {
		width: 320px;
	}

	.topo-left {
		display: none;
	}

	.topo-right {
		width: 100%;
	}

	.topo2 .banner {
		display: none;
	}

	.logo {
		float: none;
		margin: auto;
	}

	.menu-interno {
	}

	.menunobile {
		display: block;
		/* margin: auto; */
		margin-left: 10px;
	}

	.menu ul {
		position: absolute;
		background-color: #ff5555;
		z-index: 10;
		margin-left: 10px;
		margin-top: 1;
	}

	.menu li {
		float: none;
		height: auto;
	}

	.menu li img {
		display: none;
	}

	.submenu {
		position: static;
		display: block;
	}

	.rightside {
		display: none;
	}

	.leftside {
		width: 100%;
		float: none;
		margin-top: 10px;
	}

	.noticiaarea1 {
		width: 320px;
		height: auto;
	}

	.noticiabig .noticiaimgbig {
		width: 290px;
	}

	.noticiabig .noticiaimgbig img {
		width: 290px;
	}

	.noticiabig .noticiatitulo {
		width: 290px;
		font-size: 25px;
	}

	.noticiaarea2 {
		width: 300px;
		/* margin: auto;
		float: none; */
	}

	.noticiatitulo {
		width: 206px;
		/* float: none; */
	}

	.noticia-item {
		clear: both;
	}

	.noticiainfo {
		width: 206px;
		/* float: none; */
	}

	.cel {
		float: none;
		margin-left: 110px;
	}

	.noticiaimg {
		margin-left: 13px;
	}
}
